<BottomNavigation>
  <TabStrip>
    <TabStripItem class="navigation__item">
      <Label text="Home"></Label>
    </TabStripItem>
    <TabStripItem class="navigation__item">
      <Label text="Create"></Label>
    </TabStripItem>
    <TabStripItem class="navigation__item">
      <Label text="View"></Label>
    </TabStripItem>
    <TabStripItem class="navigation__item">
      <Label text="Publish"></Label>
    </TabStripItem>
  </TabStrip>

  <TabContentItem>
    <page-router-outlet name="homeTab"></page-router-outlet>
  </TabContentItem>

  <TabContentItem>
    <page-router-outlet name="createTab"></page-router-outlet>
  </TabContentItem>

  <TabContentItem>
    <page-router-outlet name="browseTab"></page-router-outlet>
  </TabContentItem>

  <TabContentItem>
    <page-router-outlet name="searchTab"></page-router-outlet>
  </TabContentItem>



</BottomNavigation>
