<ActionBar>
    <Label text="Browse"></Label>
</ActionBar>

<GridLayout class="page__content">
    <Label class="page__content-icon far" text="&#xf1ea;"></Label>
    <Label class="page__content-placeholder" text="<!-- Page content goes here -->"></Label>
</GridLayout>

<GridLayout>
    <ListView [items]="items">
        <ng-template let-item="item">
            <StackLayout>
                <Label [nsRouterLink]="['../item', item.id]" [text]="item.name"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>
